.news {
    width: 100%;
    padding: 40px 20px;
    margin: 0 auto;
}

.news h2 {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    color: #34135b;
}

.news-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}